.teamfirst {
  padding: 50px;
  background-image: url("/src/Image/final1.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 100%;
}
.teamfirst .team {
  margin: 100px 0px;
}
.teamfirst .image {
  margin: 0px 0px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  text-align: center;
  overflow: hidden;
}

.teamfirst .imagee img {
  height: 500px;
  display: block;
    width: 100%;
    object-fit: cover;
}

.indipic1{
  height: 250px;
}
.indipic1 img{
  display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  /* border: 1px solid rgb(15, 161, 206); */
}

.indipic1 .text {
  color: white;
  margin: 50px auto;
  padding: 0px 20px;
}
.indipic1 .text h1 {
  font-size: 33px;
  font-weight: 500;
}
.indipic1 .text p {
  font-size: 15px;
  font-weight: 400;
}

.rahum{
  /* border: 1px solid red; */
}

@media screen and (max-width: 604px) {
  .teamsecond{
    margin: 100px 10px;
  }
}
@media screen and (max-width: 554px) {
  .teamfirst{
    padding: 0px 0px !important;
    background-size: auto !important;
    background-repeat: repeat !important;
  }
}


/* ---------------------------------teamsecond-------------------- */
.teamsecond {
  margin: 100px auto;
}
.teamsecond .head {
  text-align: center;
  /* margin-left: 40px; */
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  color: #3a143f;
}

.teamsecond .image{
    width: 100%;
    display: block;
    margin: 0px 10px;
    background-color: #43256F;
    padding: 10px 10px;
}
.teamsecond .image img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.teamsecond h1{
    font-size: 20px;
    font-weight: 600;
}

.teamsecond .teachdes {
    color: white;
    width: 70%;
    margin:  0px auto 50px auto;
    display: block;
    text-align: center;
    background-color: #43256F;
    padding: 30px;
}

.teamsecond .social{
    font-size: 20px;
    margin: 0px 7px;
    text-align: center;
    display: inline-block;
}

.teamsecond .socially{
    margin-top: 15px;
}
@media screen and (max-width: 604px) {
  .teamsecond{
    margin: 100px 10px;
  }
}