@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* .slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
} */

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius:50%;
  /* margin:0px 5px ; */

}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: -5%;
  top: 50%;
}

.prev {
  left: -5%;
  top: 50%;
}

@media screen and (max-width: 1130px) and (min-width: 500px) {
  .next {
  right: -7%;
  top: 50%;
}

.prev {
  left: -7%;
  top: 50%;
}
}
@media screen and (max-width: 770px) and (min-width: 500px) {
  .next {
  right: -8%;
  top: 50%;
}
.prev {
  left: -8%;
  top: 50%;
}
}
@media screen and (max-width: 500px) and (min-width: 420px) {
  .next {
  right: -5%;
  top: 50%;
}
.prev {
  left: -5%;
  top: 50%;
}
}