.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 40px;
    background-color: #3A143F;
    color: #FFfffF !important;
    margin: auto;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgb(71, 81, 88);
    z-index: 100;
    /* border: 1px solid red; */
}

.my-float {
    margin-top: 5px;
    height: 100%;
    vertical-align: middle;
    /* border: 1px solid red; */
}
.float:hover{
    background-color: #463166;
    /* background-color: #B4A8C5; */
}
@media screen and (max-width: 500px) {
    .float {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 30px;
}
}