@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

.main-nav {
  /* position: fixed; */
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  height: 6.5rem;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 1.3fr 15rem;
  box-shadow: rgba(50, 50, 93, 0.75) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
  /* border: 1px solid red; */
}

.logo {
  display: grid;
  grid-column: 2/3;
  /* border: 1px solid red; */
  /* justify-content: start; */
  align-items: center;
}

.menu-link {
  /* border: 1px solid brown; */
  grid-column: 4/5;
}

.main-nav a {
  text-decoration: none;
}

.main-nav li {
  list-style: none;
}

.menu-link ul {
  /* border: 1px solid rgb(102, 67, 67); */
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu-link ul li {
  font-size: 1.8rem;
  font-weight: 500;
  /* border: 1px solid silver; */
}

.menu-link ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: -0.7rem;
  border-radius: 3px;
  height: 4px;
  background-color: #ffeb00;
  /* transition: all .3s ease-in-out 0s; */
}
.menu-link ul li:hover a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -0.7rem;
  border-radius: 3px;
  height: 4px;
  /* background-color: #ffeb00; */
  background-color: #3a143f;
  transition: all 0.3s ease-in-out 0s;
}

.menu-link ul li a {
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.menu-link ul li a:hover {
  position: relative;
  text-transform: capitalize;
  /* color: rgba(231, 231, 231, 0.8); */
  /* background-color: blue; */
  transition: 0.5s;
}

.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: none;
  transition: 0.5s;
}

/* .social-media ul li {
    font-size: 1.8rem;
} */

.social-media .hamburger-menu {
  display: none;
}
@media (min-width: 1380px) {
  .main-nav {
    grid-template-columns: 10rem 1fr 1fr 1.2fr 15rem;
  }
}
@media (min-width: 1200px) and (max-width: 1380px) {
  .main-nav {
    grid-template-columns: 10rem 1fr 1fr 1.4fr 10rem;
  }
}
@media (min-width: 970px) and (max-width: 1200px) {
  .main-nav {
    grid-template-columns: 10rem 1fr 10rem 1.8fr 10rem;
  }
  .menu-link {
    /* border: 1px solid brown; */
    grid-column: 4/5;
  }
}


@media (max-width: 970px) {
  .main-nav {
    grid-template-columns: 5rem 2fr 3fr 2fr 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo {
    height: 6.5rem;
  }

  .mobile-menu-link {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100vw;
    margin: 6.5rem -2rem 0px 0px;
    background-color: white;
    display: block;
    /* border: 1px solid green; */
    transition: all 0.5s linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 100px 0px,
      rgba(0, 0, 0, 0.3) 0px 0px 60px 0px;
  }

  .mobile-menu-link ul {
    padding: 0px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0s;
  }

  .mobile-menu-link ul li {
    padding: 10px 50px;
    width: 100%;
    transition-delay: 0.1s;
    /* border: 1px solid red; */
  }

  .mobile-menu-link ul li:hover {
    background-color: #3a143f !important ;
    color: #ffffff !important;
  }

  .menu-link ul li:hover a::before {
    height: 4px;
    background-color: #ffffff;
  }

  .social-media {
    grid-column: 4/5;
    margin: 2px 1rem 0px 0px;
    /* border: 1px solid red; */
  }

  .social-media .hamburger-menu {
    display: block;
    /* font-size: 3.5rem; */
    margin: 10px 0px 0px 0px;
    float: right;
    /* grid-column: 4/5; */
  }
}


