.button_group Button {
  border: 2px solid #0b566f;
  border-radius: 3px;
  color: #0b566f !important;
  background-color: white !important;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  /* border-radius: 0%; */
  font-weight: 600;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.button_group Button:hover {
  border-color: #149dcc !important;
  background-color: #149dcc !important;
  color: #ffffff !important;
}

.button_group {
  max-width: 1400px;
  /* border: 1px solid red; */
  margin: auto;
}

.menu_items {
  max-width: 1500px;
  margin: auto;
}

.gallerywhole figure {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.gallerywhole img {
  width: 100%;
}

.gallerywhole video {
  width: 100%;
}

/* .gallerywhole img{
    width: 100%;
} */
.gallerywhole h1 {
  font-family: "Libre Baskerville", serif;
  color: #3a4664;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --success: rgb(0, 102, 5);
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.Gallery {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
}
.output {
  height: 60px;
  font-size: 0.8rem;
  padding-right: 10px;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 20px;
  background: var(--success);
  margin-top: 10px;
}

/* .img-wrap {
  overflow: hidden;
  height: 0;
   overflow: hidden;
   width: 200px;
   max-height: 250px ;
   height: auto;
   opacity: 1;
}
.img-wrap img {
   margin: 3px;
   height: auto;
   width: 100%;
  max-height: 80%;
} */











.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

