/* -----------------------contact form section ------------------------- */
.contfirst {
  /* display: none; */
  padding: 100px 0px 0px 0px;
  background-color: #e3e4e6;
  /* border: 1px solid red; */
}

.contfirst .contfirstrow .contactform {
  margin: 20px 0px 10px 0px;
  /* text-align: center; */
  width: 100%;
  /* border: 1px solid red; */
}
.contfirst .contfirstrow .contactform h1 {
  margin: 0px 0px 20px 20px;
  font-size: 50px;
  font-weight: 600;
  color: #3a143f;
}

.contfirst .image {
  width: 100%;
  height: 650px;
  /* overflow: hidden; */
}
.contfirst .image img {
  width: 100%;
  object-fit: cover;
  height: 650px;
  margin-left: -60px;
  /* scale: 1.2; */
}

@media (max-width: 800px) {
  .contfirst .contfirstrow .image {
    display: none;
  }
  .contfirst {
    padding: 50px 0px 50px 0px;
  }
}

/* --------------------form------------------------ */
.upr2 {
  width: 100%;
}
.upr1 {
  background-color: #e3e4e6;
  width: 100%;
}
.upr form input {
  color: #3a143f;
  font-size: 20px;
  border-bottom: 2px solid #3a143f !important;
}
.upr form label {
  color: #3a143f;
  font-size: 17px;
}
.upr form i {
  color: #3a143f;
  margin-top: 15px;
  font-size: 20px;
}

.upr form textarea {
  border-bottom: 2px solid #3a143f !important;
  color: #3a143f;
  font-size: 18px;
  /* margin: -35px 0px 0px 0px; */
}

.upr Button {
  /* height: 25px; */
  height: 4rem;
  margin: 0px 0px 0px 20px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 0px;
  padding: 1px 20px;
  /* border-color: #B1363E; */
  border-color: #3a143f;
  background-color: #e3e4e6;
  color: #3a143f;
}

.upr button:hover {
  background-color: #3a143f;
  color: #e3e4e6;
  border-color: #e3e4e6;
}
#success-msg {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  display: none;
}



/* -------------------------------contactseccontent---------------------- */
.contactsecond {
}
.contactseccontent {
  display: flex;
  flex-direction: row;
  max-height: 75vh;
  overflow: hidden;
}
.contactseccontent .flexcontentone {
  order: 1;
  flex: 1 1 70%;
  background-color: #1b1612;
  color: #f1c50e;
  padding: 250px 0px 150px 200px;
  /* border: 1px solid red; */
  object-fit: cover;
}
.contactseccontent .flexcontenttwo {
  /* border: 1px solid red; */
  order: 2;
  flex: 1 1 30%;
  object-fit: cover;
}

.contactseccontent .flexcontenttwo img {
  margin: -100px 0px 0px 0px;
}

.contactseccontent .flexcontentone h2 {
  color: #f1c50e;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.contactseccontent .flexcontentone h1 {
  color: #f1c50e;
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}
.contactsecond Button {
  height: 4rem;
  font-size: 15px;
  border: 1px solid;
  border-radius: 0px;
  padding: 1px 20px;
  border-color: white;
  background-color: #f1c50e;
  color: white;
}

.contactsecond button:hover {
  background-color: #b1363e;
  border-color: #b1363e;
}

@media (max-width: 630px) {
  .contactseccontent .flexcontentone {
    padding: 250px 0px 150px 150px;
  }
}
@media (max-width: 530px) {
  .contactseccontent .flexcontentone {
    padding: 250px 0px 150px 100px;
  }
}
@media (max-width: 450px) {
  .contactseccontent .flexcontentone {
    padding: 250px 0px 150px 70px;
  }
}
@media (max-width: 800px) {
}

/* ---------------------------------contactmap--------------------- */
.contactmap {
  background-color: #292c33;
  text-align: center;
  margin: 0px 20px !important;

  /* border: 1px solid red; */
}
.rahub{
  /* padding: 0px !important; */
  /* border: 1px solid blue; */
}

.contactmap .contdetails {
  padding: 50px 0px 50px 0px;
  margin: 0px !important;
}

.contactmap .contmapicon {
  margin: 10px auto;
  padding: 20px;
  /* border: 1px solid white; */
}

.contactmap .conticon {
  margin: 30px auto 20px auto;
}
.contactmap .conticon Lord-icon {
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  padding: 7px;
  /* border: 1px solid red; */
}
.contactmap .contmapicon h1 {
  font-weight: 600;
  color: #999999;
  text-transform: uppercase;
}
.contactmap .contmapicon h2 {
  margin: 10px auto;
  color: white;
  font-weight: 400;
}

.contactmap .contmap {
  height: 656px;
}
.contactmap .contmap iframe {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.contactmap .seperate {
  margin-top: 40px;
}

.contactmap .social {
  color: white;
  margin: 15px 10px;
  text-align: center;
  display: inline-block;
}
